.gradle
/local.properties
.DS_Store
Thumbs.db
/build
/captures
util/private.properties
*.iml
.idea/libraries
.idea/shelf
app.xml
gradle.xml
misc.xml
modules.xml
workspace.xml
.name

Passwords.java
google-services.json
facebook_api.xml
