<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.appvelopers.mcgillmobile"
    android:versionCode="8"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Save anything that is external to the app -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To see if the user is connected to the internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Location permissions for the map -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- For the seat and grade checkers -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Maps Permission -->
    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyMartlet"
        android:vmSafeMode="true" >
        <activity
            android:name=".activity.SplashActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TwitterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="mymartlet"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DesktopActivity"
            android:label="@string/title_desktop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.transcript.TranscriptActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_transcript" />
        <activity
            android:name=".activity.semester.SemesterActivity"/>
        <activity
            android:name=".activity.CourseActivity"
            android:theme="@style/Dialog.MyMartlet"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyCoursesActivity"
            android:label="@string/title_mycourses"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ebill.EbillActivity"
            android:label="@string/title_ebill"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.map.MapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_map"
            android:launchMode="singleTop">
                <intent-filter>
                    <action android:name="android.intent.action.SEARCH" />
                </intent-filter>
                <meta-data android:name="android.app.searchable"
                           android:resource="@xml/searchable"/>
        </activity>
        <provider
            android:authorities="ca.appvelopers.mcgillmobile.util.MapSuggestionProvider"
            android:name=".util.MapSuggestionProvider"
            android:syncable="false"/>

        <activity
            android:name=".activity.ChangeSemesterActivity"
            android:theme="@style/Dialog.MyMartlet"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.courseslist.CoursesListActivity" />
        <activity
            android:name=".activity.walkthrough.WalkthroughActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog.MyMartlet"/>=

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_about" />
        <activity android:name=".activity.mycourseslist.MyCoursesListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HelpActivity" />
        
        <receiver android:name=".background.AlarmReceiver"></receiver>
        
        <receiver android:name=".background.BootReceiver"
                android:enabled="false">
            <intent-filter>
            	<action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <service android:name=".background.WebFetcherService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyARrfyIRGoPZjbmatLu8XyBS4JW8xjOfak" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>