<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.appvelopers.mcgillmobile" >

    <!-- (Normal) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- (Normal) To see if the user is connected to the internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- (Normal) Instabug, to see if the user if connected to the internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- (Normal) For the seat and grade checkers -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- (Normal) For the seat and grade checkers -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- (Dangerous) Campus map -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- (Dangerous) Downloads from MyCourses -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Remove this permission needed by Instabug because it's only used to attach logs -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />

    <!-- Remove the audio recording permission needed for Instabug audio feedback -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove"/>"

    <!-- Remove Instabug Push Notification permission -->
    <uses-permission
        android:name="com.instabug.library.permission.C2D_MESSAGE"
        tools:node="remove"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyMartlet"
        android:vmSafeMode="true" >
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.transcript.semester.SemesterActivity" />
        <activity
            android:name=".ui.walkthrough.WalkthroughActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.transcript.TranscriptActivity"
            android:label="@string/title_transcript"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.web.MyCoursesActivity"
            android:label="@string/title_mycourses"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.web.DesktopActivity"
            android:label="@string/title_desktop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.ebill.EbillActivity"
            android:label="@string/title_ebill"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/title_registration"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.settings.AboutActivity"
            android:label="@string/title_about" />

        <activity
            android:name=".ui.wishlist.WishlistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.MapActivity"
            android:label="@string/title_map"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.courses.CoursesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity
            android:name=".ui.ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMartlet.Drawer"/>

        <activity android:name=".ui.settings.HelpActivity" />
        <activity
            android:name=".ui.search.SearchResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.AgreementActivity"
            android:label="@string/title_agreement"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".util.background.BootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".util.background.CheckerService" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider828093890556007"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ca.appvelopers.mcgillmobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ef346d3600f30642b3786c89e29e900fec629ee" />

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
